@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Student Data</h3>
    <br />
    <hr />
    <h3>Normal User can only Access Student's Details</h3>
    <p>To Access Pages First Register through User_Register and Login through User_Login</p>
    <br />
    <hr />
    <h3>Admin Can Access Create, Edit and Delete Page</h3>
    <h5>Admin can Perform CRUD Operations</h5>
    <p>To Access Pages Login through Admin_Login</p>
</div>
